html {
	height: 100%;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	height: 100%;
	background: #F8F8E1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F8F8E1, #FF6266); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F8F8E1, #FF6266); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F8F8E1, #FF6266); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F8F8E1, #FF6266); /* Standard syntax */
	background-attachment: fixed;
}

footer {
	height: 35px;
}

h1 {
	font-family: 'Merriweather', Georgia, serif;
	font-size: 26px;
	color: #FF5158;
}

h2, h3 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 20px;
	color: #334074;
}


nav.navbar.navbar-default {
	border: 0 !important;
}

nav {
	background: #FFF;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.navbar-header button {
	border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #334074;
}

ul.navbar-nav {
	margin: 0;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
}

a, a:visited {
	color: #334074;
}

a:hover, a:visited:hover, a:active {
	color: #FF5158;
	border-bottom: 3px solid #FF5158;
}

.navbar-default .navbar-nav>li>a{
	font-size: 14px;
	color: #334074;
	padding-bottom: 13px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FF5158;
	border-bottom: 2px solid #FF5158;
}

h1.main {
	font-size: 50px;
}

h2.main {
	font-family: "Merriweather", Georgia, serif;
	font-size: 32px;
}

.event-block {
	margin-top: 10px;
	margin-bottom: 25px;
}

.event {
	height: 250px;
	width: 250px;
	margin-bottom: 25px;
	margin-right: 15px;
	padding: 0;
}

.event img {
	height: 250px;
	width: 250px;
	border: 7.5px solid #fff;
	padding-bottom: 50px;
}

.event h3 {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	top: 30px;
	text-align: center;
	padding: 10px;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}

.why-reentry {
	background-color: #fff;
	padding: 15px;
}

.why-reentry h2 {
	margin-top: 5px;
}

.why-reentry p {
	font-family: "Merriweather", Georgia, sans-serif;
	font-size: 16px;
}

.why-reentry a {
	font-family: "Montserrat", Helvetica, sans-serif;
}
