a {
  color: orange;
}

.hero-text {
  margin-top: 100px;
  font-size: 24px;
}

.events-row {
  margin-top: 100px;
}

h4 {
  font-size: 12px;
  margin-bottom: 20px;
}

.event-box {
  border: 3px solid white;
  height: 250px;
}


.why-box {
  margin-top: 50px;
  padding: 50px;
  background-color: #000;
}

.coalition {
  margin-top: 50px;

  .coalition-box {
    border: 3px solid white;
    height: 50px;
  } 
}
